---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Values.prefix }}-csi-driver-node
  namespace: {{ .Release.Namespace }}
  labels:
    node.gardener.cloud/critical-component: "true"
    app: {{ .Values.prefix }}-csi
    role: disk-driver
spec:
  selector:
    matchLabels:
      app: {{ .Values.prefix }}-csi
      role: disk-driver
  template:
    metadata:
      annotations:
        checksum/configmap-cloud-provider-config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        node.gardener.cloud/wait-for-csi-node-stackit: block-storage.csi.stackit.cloud
      labels:
        node.gardener.cloud/critical-component: "true"
        app: {{ .Values.prefix }}-csi
        role: disk-driver
    spec:
      hostNetwork: true
      priorityClassName: system-node-critical
      serviceAccountName: {{ .Values.prefix }}-csi-driver-node
      tolerations:
      - effect: NoSchedule
        operator: Exists
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoExecute
        operator: Exists
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: csi-driver-stackit
        image: {{ index .Values.images "csi-driver-stackit" }}
        args:
        - /bin/stackit-csi-plugin
        - --endpoint=$(CSI_ENDPOINT)
        - --cloud-config=/etc/config/cloud.yaml
        {{- range $userAgentHeader := .Values.userAgentHeaders }}
        - --user-agent={{ $userAgentHeader }}
        {{- end }}
        - --v=2
        - --provide-controller-service=false
        env:
        - name: CSI_ENDPOINT
          value: unix://{{ .Values.socketPath }}
{{- if .Values.resources.driver }}
        resources:
{{ toYaml .Values.resources.driver | indent 10 }}
{{- end }}
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
          allowPrivilegeEscalation: true
        ports:
        - name: healthz
          containerPort: 9908
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 10
          timeoutSeconds: 180
          periodSeconds: 30
          failureThreshold: 5
        volumeMounts:
        - name: kubelet-dir
          mountPath: /var/lib/kubelet
          mountPropagation: "Bidirectional"
        - name: plugin-dir
          mountPath: /csi
        - name: device-dir
          mountPath: /dev
          mountPropagation: "HostToContainer"
        - name: cloud-provider-config
          mountPath: /etc/config

      - name: csi-node-driver-registrar
        image: {{ index .Values.images "csi-node-driver-registrar" }}
        args:
        - --csi-address=$(ADDRESS)
        - --kubelet-registration-path=$(DRIVER_REG_SOCK_PATH)
        - --v=5
        env:
        - name: ADDRESS
          value: {{ .Values.socketPath }}
        - name: DRIVER_REG_SOCK_PATH
          value: /var/lib/kubelet/plugins/block-storage.csi.stackit.cloud/csi.sock
{{- if .Values.resources.nodeDriverRegistrar }}
        resources:
{{ toYaml .Values.resources.nodeDriverRegistrar | indent 10 }}
{{- end }}
        volumeMounts:
        - name: plugin-dir
          mountPath: /csi
        - name: registration-dir
          mountPath: /registration
        securityContext:
          allowPrivilegeEscalation: false

      - name: csi-liveness-probe
        image: {{ index .Values.images "csi-liveness-probe" }}
        args:
        - --probe-timeout=3m
        - --csi-address={{ .Values.socketPath }}
        - --health-port=9908
{{- if .Values.resources.livenessProbe }}
        resources:
{{ toYaml .Values.resources.livenessProbe | indent 10 }}
{{- end }}
        volumeMounts:
        - name: plugin-dir
          mountPath: /csi
        securityContext:
          allowPrivilegeEscalation: false

      volumes:
      - name: kubelet-dir
        hostPath:
          path: /var/lib/kubelet
          type: Directory
      - name: plugin-dir
        hostPath:
          path: /var/lib/kubelet/plugins/block-storage.csi.stackit.cloud/
          type: DirectoryOrCreate
      - name: registration-dir
        hostPath:
          path: /var/lib/kubelet/plugins_registry/
          type: Directory
      - name: device-dir
        hostPath:
          path: /dev
          type: Directory
      - name: cloud-provider-config
        configMap:
          defaultMode: 420
          name: {{ .Values.prefix }}-cloud-provider-config
