---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Values.prefix }}:csi-snapshot-controller
  namespace: {{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: csi-snapshot-controller
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .Values.prefix }}:csi-snapshot-controller
