image:
  ref: ""
  repository: ghcr.io/stackitcloud/gardener-extension-provider-stackit
  tag: latest
  pullPolicy: IfNotPresent
replicaCount: 1
maxUnavailable: 1
maxSurge: 50%
resources: {}
extraEnvs: []
vpa:
  enabled: true
  updatePolicy:
    updateMode: "Auto"

metricsPort: "{{ index .Values.usablePorts 0 }}"
healthPort: "{{ index .Values.usablePorts 1 }}"

monitoring:
  createClusterFilters: true
controllers:
  bastion:
    concurrentSyncs: 5
  controlplane:
    concurrentSyncs: 5
  healthcheck:
    concurrentSyncs: 5
  heartbeat:
    renewIntervalSeconds: 30
  infrastructure:
    concurrentSyncs: 5
  worker:
    concurrentSyncs: 5
  ignoreOperationAnnotation: false
disableControllers: []
disableWebhooks: []
ignoreResources: false

# ignoreHAReplicas will set an annotation to the deployment that will change the HA webhook behavior and set the replicas to 1.
ignoreHAReplicas: false
# imageVectorOverwrite: |
#   images:
#   - name: pause-container
#     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
#     repository: gcr.io/google_containers/pause-amd64
#     tag: "3.0"
#     version: 1.11.x
#   - name: pause-container
#     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
#     repository: gcr.io/google_containers/pause-amd64
#     tag: "3.1"
#     version: ">= 1.12"
#   ...

webhookConfig:
  servicePort: 443
  serverPort: "{{ index .Values.usablePorts 2 }}"

## settings for metrics, e.g. scraping by seed-prometheus
metrics:
  ## enable metrics scraping
  enableScraping: true
config:
  clientConnection:
    acceptContentTypes: application/json
    contentType: application/json
    qps: 100
    burst: 130
  etcd:
    storage:
      enabled: true
      className: gardener.cloud-fast
      capacity: 25Gi
      provisioner: cinder.csi.openstack.org
      volumeBindingMode: WaitForFirstConsumer
  stackitAPIEndpoints:
    # Must be base64 encoded
    caBundle: ""
  registryCaches:
  # - server: reg.example.com
  #   cache: reg-cache.example.com
  #   caBundle: LS0tLS1C... #b64 encoded CA bundle, optional
  #   capabilities: ["pull", "resolve"]
  # deployALBIngressController: true
gardener:
  version: ""
  gardenlet:
    featureGates: {}
  seed:
    provider: stackit
# runtimeCluster:
#   enabled: false
#   priorityClassName: gardener-garden-system-200
# selfHostedShootCluster: false
# injected by gardener (see https://github.com/gardener/gardener/pull/11527)
usablePorts:
- 8080 # metrics
- 8081 # health
- 10250 # webhook server

featureGates: {}
# NoopFeature: false
